@model WellnessRecord

@{
    ViewData["Title"] = "Deactivate Wellness Record";
}

<h1>Deactivate Wellness Record</h1>
<div class="soft-delete-note">
    Are you sure you want to deactivate this wellness record? This record will not be permanently deleted and will only be hidden from normal lists.
</div>

<dl class="row">
    <dt class="col-sm-3">Pet</dt>
    <dd class="col-sm-9">@Model.Pet.PatientNo - @Model.Pet.PetName</dd>
    <dt class="col-sm-3">Wellness Type</dt>
    <dd class="col-sm-9">@Model.WellnessType</dd>
    <dt class="col-sm-3">Product / Medication</dt>
    <dd class="col-sm-9">@Model.ProductOrMedication</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="WellnessId" />
    <button type="submit" class="btn btn-danger">Deactivate</button>
    <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
</form>
